*{
    padding: 0;
    margin: 0;
    font: 13px Arial, Verdana, Sans-Serif black;

}

.corpo{
    background-color: #f4e9d3;
}

.cabecalho{
    float: left;
    width: 90%;
    background-color: #844076;
    padding: 60px;
}

.logo h1{
    color: #f4e9d3;
    float: left;
}

.logo h2{
    float: left;
    margin: 30px 0 0 -170px;
    font-style: italic;
    font-size: 13px;
    color: #f4e9d3;
}

.menu ul{
    float: left;
   text-align: center;
   margin: 0 0 0 80px;
   /* background-color: yellow; */

}

.menu li{
    display: inline-block;
    border-right:1px #f4e9d3 solid;
}

.menu li:last-child{
    border-right: none;
}

.menu a{
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    color: #f4e9d3;
    font-size: 10px Arial;
    font-weight: bold;
}

.menu a:hover{
    background-color: #f4e9d3;
    color: #844076;

}

.menu li:hover:first-child a{
    border-radius: 50px 0 0 50px;
}

.menu li:hover:last-child a{
    border-radius: 0 50px 50px 0;
}

.menu a:visited{
    text-decoration: underline;
}

.corpo{
    float: left;
}

.conteudo{
    float: left;
    width: 55%;
}

.conteudo h1{

    background-color: #ff7c48;
    color: #f4e9d3;
    text-align: center;
    margin: 20px 20px 0 20px;
    padding:10px;
    width: 100%;
    border-radius: 10px;
}
.conteudo h2{
    float: left;
    background-color: #cc5579;
    color: #f4e9d3;
    padding: 7px;
    width: 102%;
    margin: 0 0 0 20px;
    border-radius: 10px;
}
.conteudo p{
    float: left;
    font-size: 13px;
    padding: 10px;
    width: 100%;
    margin: 0 0 0 10px;

}

.data{

    padding: 10px;
    text-align: center;
    /* margin: 10px 0 0 210px; */
    margin: 10px 0 10px 20px;
}

p.data{

    font-size: 20px;
    font-weight: bolder;
}

.conteudo img{
    width: 90%;
    margin: 0 0 0 50px;
}

.conteudo h3{
    float: left;
    background-color: #cc5579;
    width: 100%;
    margin: 10px 0 10px 20px;
    padding: 5px;
    color: #f4e9d3;
    border-radius: 10px;
}

.conteudo ul{
    margin: 50px 20px 0 50px;
    /* background-color: green; */
}

.conteudo li{
    margin: 20px 0 0 0;
    font-size: 13px;
    /* background-color: blue; */
    padding: 5px;
}
.rodape{
    clear: both;
    width: 100%;
    background-color: #844076;
}
.rodape p{
    padding: 20px;
    font-size: 15px;
    text-align: center;
    color: #f4e9d3;
}

.formulario{
    float: left;
    text-align: center;
    background-color: #ffcf4f;
    margin: 20px 0 0 140px;
    font-size: 20px;
}

.formulario fieldset{
    border: none;
    margin: 10px 20px 0 20px;
}

.formulario legend{
    margin-bottom: 20px;
    color: #cc5579;
    font-weight: bolder;
}

.formulario input{
    width: 80%;
    padding: 10px;
    margin: 10px auto;
    display: block;
    font-size: 16px;
}


.formulario button{
    background-color: #844076;
    padding: 20px;
    color: #f4e9d3;
    position: relative;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    top: 30px;
    font-size: 16px;
}